<!DOCTYPE html>
<html lang="en">
<head>
    <title>Pricing</title>
    <link rel="stylesheet" href="css/meeting-cta/meeting-cta-styles.css">
</head>
<body>
<div class="contact-container">
    <section class="headline">Keep in touch with us!</section>
    <form action="https://formspree.io/f/xrbbbqll" method="POST">
        <label>
            Your email:
            <input type="email" name="email" required>
        </label>
        <label>
            What wishes do you have for our product?:
            <textarea name="message" class="message-input" placeholder="Type your message here..."></textarea>
        </label>
        <button class="submit" type="submit">Send</button>
    </form>
</div>
</body>
</html>
