<!DOCTYPE html>
<html lang="en">
<head>
  <title>Pricing</title>
  <link rel="stylesheet" href="css/pricing/pricing-styles.css">
</head>
<body>

<h1 class="page-header">Our Offers</h1>

<div class="pricing-container">
  <div class="pricing-segment">
    <div class="pricing-header">Basic</div>
    <div class="pricing-price">Free</div>
    <div class="pricing-details">
      <p><strong>Devices:</strong> 1</p>
      <p><strong>Length/Session:</strong> 10min</p>
      <p><strong>Domain Layer:</strong> ❌</p>
      <p><strong>24/7 Support:</strong> ❌</p>
      <p><strong>Own Cloud Storage:</strong> ❌</p>
      <p><strong>Customization:</strong> ❌</p>
    </div>
  </div>

  <div class="pricing-segment">
    <div class="pricing-header">Plus</div>
    <div class="pricing-price">10€/month</div>
    <div class="pricing-details">
      <p><strong>Devices:</strong> 5</p>
      <p><strong>Length/Session:</strong> 1h</p>
      <p><strong>Domain Layer:</strong> ✔️</p>
      <p><strong>24/7 Support:</strong> ❌</p>
      <p><strong>Own Cloud Storage:</strong> ❌</p>
      <p><strong>Customization:</strong> ❌</p>
    </div>
  </div>

  <div class="pricing-segment">
    <div class="pricing-header">Premium</div>
    <div class="pricing-price">60€/month</div>
    <div class="pricing-details">
      <p><strong>Devices:</strong> 50</p>
      <p><strong>Length/Session:</strong> Unlimited</p>
      <p><strong>Domain Layer:</strong> ✔️</p>
      <p><strong>24/7 Support:</strong> ❌</p>
      <p><strong>Own Cloud Storage:</strong> ❌</p>
      <p><strong>Customization:</strong> ❌</p>
    </div>
  </div>

  <div class="pricing-segment">
    <div class="pricing-header">Enterprise</div>
    <div class="pricing-price"><a href="mailto:graspai.business@gmail.com">Contact Us</a></div>
    <div class="pricing-details">
      <p><strong>Devices:</strong> Custom</p>
      <p><strong>Length/Session:</strong> Unlimited</p>
      <p><strong>Domain Layer:</strong> ✔️</p>
      <p><strong>24/7 Support:</strong> ✔️</p>
      <p><strong>Own Cloud Storage:</strong> ✔️</p>
      <p><strong>Customization:</strong> ✔️</p>
    </div>
  </div>
</div>
</body>
</html>

