<table class="bg-white ba b--black-10 br3 shadow-4 pricing">
  <thead>
    <tr>
      <th></th>
      <th>Basic</th>
      <th>Plus</th>
      <th>Premium</th>
      <th>Enterprise</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td>Free</td>
      <td>10€/month</td>
      <td>60€/month</td>
      <td><a href="mailto:graspai.business@gmail.com">Contact Us</a></td>
    </tr>
    <tr>
      <td>Devices</td>
      <td>1</td>
      <td>5</td>
      <td>50</td>
      <td>Custom</td>
    </tr>
    <tr>
      <td>Length/Session</td>
      <td>10min</td>
      <td>1h</td>
      <td>Unlimited</td>
      <td>Unlimited</td>
    </tr>
    <tr>
      <td>Domain Layer</td>
      <td>❌</td>
      <td>✔️</td>
      <td>✔️</td>
      <td>✔️</td>
    </tr>
    <tr>
      <td>24/7 Support</td>
      <td>❌</td>
      <td>❌</td>
      <td>❌</td>
      <td>✔️</td>
    </tr>
    <tr>
      <td>Own Cloud Storage</td>
      <td>❌</td>
      <td>❌</td>
      <td>❌</td>
      <td>✔️</td>
    </tr>
    <tr>
      <td>Customization</td>
      <td>❌</td>
      <td>❌</td>
      <td>❌</td>
      <td>✔️</td>
    </tr>
  </tbody>
</table>

<style>
  table.pricing {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 100px;
  }

  th {
    text-align: center;
    padding: 32px;
  }

  td {
    text-align: left;
  }

  table.pricing > thead {
    background-color: #1dc061;
    color: white;
    padding: 4px;
  }

  table.pricing tbody tr:nth-child(even) {
      background-color: #f9f9f9;
  }

  table.pricing tbody tr:nth-child(odd) {
    background-color: #d4ffe7;
  }
</style>
